body {
    font-family: 'Poppins', sans-serif, Arial;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    margin: 0;
    padding: 0 20px; /* Добавляем отступы слева и справа */
    }
    a {
        text-decoration: none;
        color: inherit;
        }