.form > *:not(:last-child) {
    margin-bottom: 26px;
    }
    .form .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .form .form-row.flex-end {
    justify-content: flex-end;
    }
    .form .form-row > *:not(:last-child) {
    margin-right: 26px;
    }
    .form .form-col {
    flex: 1 0 0%;
    }
    .form .form-row.cols-auto .form-col {
    flex: 0 0 auto;
    width: auto;
    }

    @media screen and (max-width: 768px) {
        .form .form-row {
            flex-direction: column;
        }
    
        .form .form-row > *:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    
        .form .form-col {
            width: 100%;
        }
    }