.footer-bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 768px) {
.footer-bottom {
  position: static; /* Убираем абсолютное позиционирование */
}
}