.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 200px; /* Устанавливаем нужный отступ справа */
}

.footer-column {
  margin-left: 150px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;

}

.footer-column ul li a {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;

}

.footer-column ul li a:hover {
  color: #000;
}


@media screen and (max-width: 1024px) {
  .footer-right {
    margin-right: 50px; /* Уменьшаем отступ справа */
  }

  .footer-column {
    margin-left: 100px; /* Уменьшаем отступ между колонками */
  }
}

@media screen and (max-width: 768px) {
  .footer-right {
    margin: 0 0 30px 0; /* Обнуляем отступы и добавляем снизу */
  } 

  .footer-right {
    flex-direction: column; /* Располагаем колонки в колонку */
    align-items: center; /* Выравниваем по центру */
    margin-right: 0; /* Обнуляем отступ справа */
  }

  .footer-column {
    margin-left: 0; /* Обнуляем отступ между колонками */
    text-align: center; /* Выравниваем текст по центру */
  }}