/* Стили для футера */
footer {
    background-color: #000000;
    padding: 100px 0; 
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    display: flex; 
    justify-content: space-between; 
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column; /* Располагаем элементы в колонку */
      align-items: center; /* Выравниваем по центру */
      padding: 50px 0;
    } }