/* Стили для секции guides explain */
.guides-explain {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}


.product-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-item {
    width: 309px;
    margin: 20px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}


.product-item img {
    width: 309px;
    height: 422px;
    object-fit: cover; 
}

/* Адаптация для экранов до 1024px */
@media screen and (max-width: 1024px) {
    .product-item {
        width: 309px; 
        margin: 20px; 
    }
}

/* Адаптация для экранов до 768px */
@media screen and (max-width: 768px) {
    .product-item {
        width: 100%; 
        margin: 20px;
    }
}

/* Адаптация для экранов до 480px */
@media screen and (max-width: 480px) {
    .product-item img {
        width: 100%; 
        height: auto; 
    }

}