/* Стили для секции guides explain */
.guides-explain {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}


.product-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-item {
    width: 309px;
    margin: 20px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}

/* Стили для изображения продукта (соответствуют заданным размерам) */
.product-item img {
    width: 309px;
    height: 422px;
    object-fit: cover; /* Это обеспечит корректное отображение изображения в указанных размерах */
}
