header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  @media screen and (max-width: 827px) {
    .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    }
    .header .nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    flex-direction: column;
    width: 100vw;
    padding-top: 70px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    transform: translateY(-100%);
    opacity: 0;
    }
    .header.is-active .overlay {
    visibility: visible;
    opacity: 1;
    }
    .header.is-active .nav {
    transform: translateY(0);
    opacity: 1;
    }
    .nav-btn {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 32px;
    height: 18px;
    padding: 0;
    
    background-color: transparent;
    border: none;
    }
    .nav-btn-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #666;
    border-radius: 2px;
    }
    .header .logo, .header .social-list {
    z-index: 100;
    }
    .header .logo {
    width: 66px;
    height: 37px;
    }
    .header .nav .list {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    }
    .header .nav .list .item {
    margin-right: 0;
    }
    .header .nav .list .item:not(:last-child) {
    margin-bottom: 20px;
    }
    }