.image-section {
    background-color: rgba(240, 239, 235, 0.6); /* 30% прозрачности */
    padding: 100px 0; 
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  
  .image-section .container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px; /* Отступы между колонками */
  }
  
  .image-item {
    text-align: center;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
  }
  
  .image-item p {
    margin-top: 10px;
    font-size: 1em;
  }
  

  /* Адаптация для экранов до 1024px */
@media screen and (max-width: 1024px) {
  .image-section .container {
      grid-template-columns: repeat(2, 1fr); /* Уменьшаем количество столбцов до двух на экранах до 1024px */
      gap: 50px; /* Уменьшаем отступы между колонками */
  }
}

/* Адаптация для экранов до 768px */
@media screen and (max-width: 768px) {
  .image-section .container {
      grid-template-columns: 1fr; /* Один столбец на экранах до 768px */
      gap: 30px; /* Уменьшаем отступы между колонками */
  }
}

/* Адаптация для экранов до 480px */
@media screen and (max-width: 480px) {
  .image-section .container {
      gap: 20px; /* Уменьшаем отступы между колонками еще больше */
  }

  .image-item p {
      font-size: 0.9em; /* Уменьшаем размер текста */
  }
}
