.image-section {
    background-color: rgba(240, 239, 235, 0.6); /* 30% прозрачности */
    padding: 100px 0; 
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  
  .image-section .container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px; /* Отступы между колонками */
  }
  
  .image-item {
    text-align: center;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
  }
  
  .image-item p {
    margin-top: 10px;
    font-size: 1em;
  }
  