.keep-in-touch {
    text-align: center;
    padding: 50px 20px;
  }
  
  .keep-in-touch .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .keep-in-touch h2 {
    margin-bottom: 20px;
  }
  
  .keep-in-touch p {

    margin-bottom: 30px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 60px; /* Расстояние между полями First Name и Last Name */
  }
  
  .name-fields input {
    width: 153px;
    height: 39px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 0px;
    box-sizing: border-box;
  }
  
  .email-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .email-field input {
    width: 366px; /* Длина поля email */
    height: 39px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 0px;
    box-sizing: border-box;
  }

  /* Адаптация для экранов до 768px */
@media screen and (max-width: 768px) {
  .keep-in-touch .container {
      max-width: 80%; /* Уменьшаем максимальную ширину контейнера */
  }

  .name-fields {
      flex-direction: column; /* Отображаем поля имени и фамилии в столбец на мобильных устройствах */
      gap: 20px; /* Уменьшаем расстояние между полями */
  }

  .name-fields input {
      width: 100%; /* Ширина поля имени и фамилии на мобильных устройствах */
      margin-bottom: 0; /* Убираем отступ снизу */
  }

  .email-field input {
      width: 100%; /* Ширина поля email на мобильных устройствах */
  }
}

/* Адаптация для экранов до 480px */
@media screen and (max-width: 480px) {
  .keep-in-touch .container {
      padding: 0 20px; /* Уменьшаем отступы по бокам контейнера */
  }
}
