.section {
    margin-bottom: 160px;
    }
    .section .title {
    margin-bottom: 45px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    }
    .section .subtitle {
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    }