.projects-section .projects-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-section .projects-inner > * {
    flex-shrink: 0;
    width: 32%;
    margin-bottom: 30px;
}
