.h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.2;
    color: #42446E;
    }
    .h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 1;
        color: #42446E;
        }