.tech-stack-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    max-width: 100%;
  }
  
  .tech-stack-logos {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .tech-stack-logos li {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    text-align: center;
    list-style: none;
    margin-bottom: 30px;
  }
  
  .tech-stack img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 1024px) {
    .tech-stack-logos li {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  
  @media (max-width: 768px) {
    .tech-stack-logos li {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
  @media (max-width: 480px) {
    .tech-stack-logos li {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }